@model List<SIC.cotizaciones_info>

<body>
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title active"><b>VER COTIZACIÓN</b></h4> 
            </div>
            <div class="modal-body">
                <p>Detalles de la Cotización</p>
                @{
                    foreach (var item in Model)
                    {
                        <label>Código: </label><input type="text" id="idcot" value="@item.id_CotIns" readonly />
                            <label>Fecha: </label><input type="text" value="@item.fecha_CotIns" readonly />
                            <br />
                            <br />
                            <p>Artículo</p>
                            <img src="data:image/jpeg;base64,@SIC.Controllers.ArticuloController.ConvertByteArrayToBase64(@item.id_Art)" alt="" height="100" width="100" class="img-thumbnail">
                            <br />
                            <br />
                            <label>Tipo:</label><input type="text" value="@item.tipo_Pro" readonly />
                            <br />
                            <label>Nombre:</label><input type="text" value="@item.nombre_Pro" readonly />
                            <br />
                            <br />
                            <p class="active">Otros</p>
                            <label>Metros cable:</label><input type="text" value="@item.mtscable_CotIns" readonly />
                            <br />
                            <label>Total cable:</label><input type="text" value="@item.totalcable_CotIns" readonly />
                            <br />
                            <label>Observaciones:</label><input type="text" value="@item.observaciones_CotIns" readonly />
                            <br />
                            <label>Total $:</label><input type="text" value="@item.total_CotIns" readonly />
                            <br />
                            <label>Complejidad :</label><input type="text" value="@item.complejidad_CotIns" readonly />
                            <br />
                            <br />
                            <p>Cliente</p>
                            <label>Nombre:</label><input type="text" value="@item.nombrecli_CotIns" readonly />
                            <br />
                            <label>Teléfono:</label><input type="text" value="@item.telefonocli_CotIns" readonly />
                            <br />
                            <label>Domicilio:</label><input type="text" value="@item.domiciliocli_CotIns" readonly />
                            <br />
                            <label>Correo:</label><input type="text" value="@item.correocli_CotIns" readonly />
                            <br />
                    }
                }
                <br />
                <br />
                
            </div>
            <div class="modal-footer">
                <p class="dt-body-left">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </p>
            </div>
        </div>
    </div>
</body>
